:root {
  --clr-white: #fff;
  --clr-1: #d15c26;
  --clr-2: #d2421e;
  --clr-3: #ffbe6a;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (any-hover: none) {
  * {
    cursor: none !important;
  }
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}
button:hover {
  opacity: 0.9;
}
