.container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.button {
  height: 40px;
  margin-bottom: 20px;
  border: none;
  color: var(--clr-white);
  font-weight: 600;
  cursor: pointer;
  background-color: teal;
}

.error {
  font-size: 12;
  color: var(--clr-2);
}
